body{
  background-image:url("");
 background-repeat:no-repeat;
 background-size:1200px 730px; 
 background-color:#CDD2E1;
 background-position:center;
 margin:20px; 
  
}
img{
  align:center;
}
#contents{
  background-color:rgba(255,255,255,0.45);
  margin-top:100px;
  margin-bottom:50px;
  padding-bottom:30px;
}
*{
  font-family: 'PT Sans', sans-serif;
  font-size:120%;
  color:black;

}
button{
  margin-right:15px;
  background-color:rgba(255,255,255,0.1);
  border:none;
}
button:focus{
  outline:0;
}
button:hover{
  font-weight: bold;
-webkit-box-shadow: 1px 4px 15px 2px rgba(0,0,0,0.43);
-moz-box-shadow: 1px 4px 15px 2px rgba(0,0,0,0.43);
box-shadow: 1px 4px 15px 2px rgba(0,0,0,0.43);
transition-duration: 0.5s;  
}
#weather{
  font-size:150%;
}